<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:application.properties" />

    <bean name="persona" class="com.spring.test.model.Persona">
        <constructor-arg name="name" value="Juan"></constructor-arg>
        <constructor-arg name="id" value="3597174-5"></constructor-arg>
        <constructor-arg name="lastName" value="perez"></constructor-arg>
        <constructor-arg name="birthDate" value="10/10/1985"></constructor-arg>
        <property name="aplication" value="${test.application}"/>
    </bean>

</beans>
